html, body {
    margin: 0;
    padding: 0;
}
  
body {
    text-align: center;
    background-image: url('https://i.imgur.com/qqrVt8m.gif');
    background-size: cover;
    color: whitesmoke;
}

.GUI {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: none;
}

#big, #lil {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#big {
    font-size: 50px;
}

#lil {
    font-size: 25%;
}

canvas {
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%; 
}
#lost {
    grid-area: game
}

#lost2 {
    grid-area: btm-right
}

#win, #win2 {
    grid-area: game;
    flex-flow: column-reverse;
}

#win2 {
    max-height: 25%
}

#container {
    max-width: 35em;
    max-height: 35em;
    background-size: cover;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: 
        "top-left top-left top-left" 
        "game game game" 
        "btm-left btm-left btm-right"
}
  
#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: space-around;
    align-items: center
}
  
#top-left {
    grid-area: top-left;
    background-size: cover; 
    color: black;
    border-radius: 80%
}
    
#headline {
    grid-area: top-left;
    color: white;
}
  
#top-right {
    grid-area: top-right;
    display: none
}
  
main {
    grid-area: game
}
#control {
    grid-area: game;
}

#btm-left {
    grid-area: btm-left;
  
}

#btm-right {
    grid-area: btm-right;
}
 