html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url('https://i.imgur.com/qqrVt8m.gif');
  background-size: cover;
  color: whitesmoke;
}
  
canvas {
  min-width: 100%;
  min-height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%; 
  opacity: .6; 
}
#lost

#container {
  max-width: 35em;
  max-height: 35em;
  background-size: cover;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: 
      "top-left top-left top-left" 
      "game game game" 
      "btm-left btm-left btm-right";
}

#top-left, #top-right, #btm-left, #btm-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top-left {
  grid-area: top-left;
  opacity: 0.25;
  background-size: cover; 
  color: black;
  border-radius: 80%;
}
  
#headline {
  grid-area: top-left;
  color: white;
  opacity: 1;
}

#top-right {
  grid-area: top-right;
  display: none;
}

main {
  grid-area: game;
}

#btm-left {
  grid-area: btm-left;
  color: cadetblue;
  opacity: .5;
  font-size: 25px;
}

#btm-right {
  grid-area: btm-right;
  opacity: .5;
}

#middle {
  grid-area: middle;
  display: none;
  opacity: .5;
}

.GUI {
  display: none;
}
