html, body {
    margin: 0;
    padding: 0;
}
  
body {
    text-align: center;
    background-image: url('https://i.imgur.com/qqrVt8m.gif');
    background-size: cover;
}

.GUI {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: none;
}

#top, #btm-left, #btm-right { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
}

#big {
    font-size: 50px;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
}

canvas {
    min-width: 100%;
    min-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%; 
}
#lost {
    grid-area: game
}

#lost2 {
    grid-area: btm-right
}

#win, #win2 {
    grid-area: game;
    flex-flow: column-reverse;
}

#win2 {
    max-height: 25%
}

#container {
    max-width: 35em;
    max-height: 35em;
    background-size: cover;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: 
        "top top top" 
        "game game game" 
        "btm-left btm-left btm-right";
    
}
  
#btm-left, #btm-right {
    display: flex;
    justify-content: space-around;
    align-items: center
}
  
#top {
    grid-area: top;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
}
    
main, #control {
    grid-area: game;
    display: flex;
    flex-direction: column-reverse;
    background-image: linear-gradient(to bottom, violet, indigo, blue, green, yellow, orange, red); 
    -webkit-background-clip: text;
    color: transparent;
}

#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}
 